# Supabase (for production container)
DATABASE_URL=''
DIRECT_URL=''

# Development Database (Dev Docker Container)
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
POSTGRES_DB='wastranusa-db'
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}"
DIRECT_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}"

# Better-Auth
BETTER_AUTH_SECRET=''
BETTER_AUTH_URL='' # Base URL of your app

# Google OAuth
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''

# Midtrans (sandbox only)
MIDTRANS_CLIENT_KEY=''
MIDTRANS_SERVER_KEY=''

# Email App
SMTP_HOST=''
SMTP_PORT=''
SMTP_USER=''
SMTP_PASS=''